python=3.11

pyyaml
numpy
pandas
numba
opencv

Pillow
matplotlib
seaborn
bokeh
plotly

scipy
scikit-learn
scikit-image

torch
torchvision
torchinfo
# pytorch
# pytorch-cuda==12.1
# pytorch-lightning



tensorboard


jupyter
ipykernel
ipywidgets
cvxpy
lightgbm
autograd
skorch
graphviz
pydot
distinctipy
gdown

# Additional requirements from HRNet GitHub repository
EasyDict==1.7
shapely==1.6.4
Cython
pyyaml
json_tricks
yacs>=0.1.5